!!! 5
%html
    %head
        %title
            - if content_for? :title
                Adams Grumbles - #{yield :title}
            - else
                Adams Grumbles
        = stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Gafata"
        = javascript_include_tag "application"
    %body
        #wrap
            #top
            #header
                .container
                    .row
                        .span12
                            %a#logo{:href => root_path}
                                %h1.masthead-brand Adams Grumbles LLP
            .container
                .row-fluid
                    .span10#main
                        = yield
                        - p controller.action_name
                    .span2
                        %ul.nav.nav-pills{:data => {:spy => "affix", :offset => {:top => "79"}}}
                            %li{:class => current_page?(work_path) ? "active" : ""}
                                %a{:href => work_path} Work
                            %li{:class => (controller.controller_name.include? "people") ? "active" : ""}
                                %a{:href => people_path} People
                            %li{:class => (current_page?(resources_path)) ? "active" : ""}
                                %a{:href => resources_path} Resources
                            %li
                                %a{:href => asset_path('careers.pdf'), :target => :blank} Careers
                            %li{:class => current_page?(contact_path) ? "active" : ""}
                                %a{:href => contact_path} Contact
            #push
        %footer
            .container
                .contents
                    .pull-left
                        %span &copy; Copyright #{Time.now.year} Adams Grumbles LLP
                    .pull-right
                        %span 287 E. 6th St | Suite 140 | Saint Paul MN 55101
